* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
}

html, body {
    width: 100%;
    height: 100%;


}